@font-face {
  font-family: "TomatoGroteskLight";
  src: url("/public/font/TomatoGrotesk-Light.otf");
}
@font-face {
  font-family: "TomatoGroteskNormal";
  src: url("/public/font/TomatoGrotesk-Medium.otf");
}
*{
  font-family: "TomatoGroteskLight" ;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
