

.App {
    background-color: #ffffff;
  }
  .nav-hero{
      min-height: 660px;
      background-image: url("/public/hero-bg.svg");
      background-repeat: no-repeat;
      background-size: 75%;
    background-position-x: 50%;
    background-position-y: 130%;
  }
  .header{
    padding: 1rem 8rem 1rem 8rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav{
    display: flex;
}

.header nav p{
    margin-left: 2rem;
    color: #07969E;
        font-size: 16px;
line-height: 19px;
font-weight: 200;
cursor: pointer;
}
.active{
    font-weight: 800;
    font-family: "TomatoGroteskNormal";
}
.hero{
    display: flex;
    padding: 2rem 8rem 2rem 6rem;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.hero-text{
    width:500px;
    
}
.hero-text h1{
    color: #07969E;
    font-size: 56px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "TomatoGroteskNormal";


}
.hero-text p{
    font-size: 16px;
    margin: 1rem 0;
    font-family: "TomatoGroteskNormal";
    padding: 0;
    width: 75%;
    line-height: 24px;
    font-weight: 500;
}



.buttonGroup{
    display: flex;
    margin-top: 1.5rem;;
}
.buttonGroup button{
    font-family: "TomatoGroteskLight" !important;
    background-color: #2d2d2d;
    border: none;
    border-radius: 10px;
    padding: 8px 4px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    height: 48px;
    width:150px;
    justify-content: center;
    cursor: pointer;
}
.buttonGroup button span{
    font-size: 12px;
    text-align: left;
    margin-left: .5rem;
    font-weight: 200;

}
.buttonGroup button span b{
    font-size: 14px;
}
.sponsors{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2rem;
}
.plans{
    padding: 2rem 8rem 2rem 6rem;
    
}
.plan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin: auto;
    margin-top: -6rem;
}

.plan div{
    width: 40%;
}
.plan h2{
    color:#2d2d2d;
    font-size: 32px;
    margin: 0;
}
.plan p{
    font-size: 16px;
    color: #4a5050;
    width: 90%;
    line-height: 24px;
}
.plan a{
    text-decoration: none;
    color: #07969E;
}
.assets{
    padding: 2rem 8rem 2rem 8rem;
    /* width: 85%; */
    
}
.assets h1{
    text-align: center;
    color:#2d2d2d;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}
.assets p{
    font-size: 16px;
    color: #4a5050;
    line-height: 24px;
    text-align: center;    margin: 0;

}
.assets main {
    display: flex;
    justify-content: space-between;
margin-top: 2rem;
}
.assets main >div{
    width: 300px ;
    border: 2px solid rgba(145,159,181,.2);
    border-radius: 5px;
    min-height: 520px;
    position: relative;
    text-align: center;

}
.assets main > div a{
    text-decoration: none;
    color: #07969E;
    text-align: center;
}
.top{
    background-color: #fff4f0;
    border-radius: 16px;
    height: 213px;
}
.pur{
    background-color: #F6F2FF;
}
.blu{
    background-color: #ECFEFE;
}

.circle{
    background-color: white;
    padding: 15px;
    width: max-content;
    border-radius: 50%;
    position: absolute;
    top: 4rem;
    right: 31%;
}
.content
{
    margin-top: -5rem;
    z-index: 10;
    background-color: white;
    text-align: center;
    padding: 3rem .5rem;
    max-height: 250px;
    min-height: 250px;
}
.content h3{
    color: #4a5050;
    font-size: 24px;
    margin-bottom: 0.7rem;
}
.content p{
    color: #4a5050;
    font-size: 16px;
    margin-bottom: .5rem;

}
.content p span{
    color: #919fb5;
}
.noMargin{
    margin-bottom: 0!important;
}
.goals{
    display: flex;
   
    padding: 2rem 8rem 2rem 6rem;
    align-items: center;
    justify-content: space-between;
}
.goalsText{
    width: 35%;
    margin-right: 7rem;
    color: #2d2d2d;
}
.goalsText h3{
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.05em;
text-align: left;
margin: 0;
}
.goalsText h1{
    font-family: "TomatoGroteskNormal";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px;
letter-spacing: -0.05em;
text-align: left;
margin: 0;
}
.goalsText h1 span{
    color: #8c5ff8;
    font-family: "TomatoGroteskNormal";
}
.goalsText p{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin: .5rem 0 1.5rem;
}
.goalsText button{
    background: #07969E;
border-radius: 5px;
width: 160px;
height: 48px;
color: white;
border: none;
font-weight: bold;
font-size: 16px;
}
.regulation{
    background-image: url("/public/bg.svg");
    background-size: 110%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    min-height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.regulation div{
    width: 45%;
    text-align: center;
    color: #2d2d2d;
}
.regulation div h1{
    font-family: "TomatoGroteskNormal";
margin: 0;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px;
letter-spacing: -0.05em;
text-align: center;

}
.regulation div p{
    color: #4A5050;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
.testimonial{
    padding: 2rem ;
}
.testimonial h1{
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -5%;
    text-align: center;
    color: #40BBC3;
}
.testimonial > p{
    font-family: "TomatoGroteskNormal";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 23px;
letter-spacing: -0.01em;
margin:.5rem auto 1.5rem;
width:45%;
text-align: center;
color: #4A5050;

}
.testi{
    height: 248px;
box-shadow: 0px 12px 24px rgba(64, 187, 195, 0.15);
border-radius: 10px;
margin-right: 1rem;
padding:24px;
}
.testi >p {
    height:140px;
    font-size: 16px;
line-height: 24px;
color: #4A5050;
}
.testi > div{
    margin-top: 2rem;
    display:flex;
}
.testi > div img{
    margin-right: 1rem;
}
.community{
    display: flex;
    padding: 2rem 8rem 2rem 6rem;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0
}
.comm-text{
    width: 40%;
    color: #2d2d2d;
}
.comm-text h1{
margin: 0;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px;
letter-spacing: -0.05em;
text-align: left;

}
.comm-text p{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.comm-text button
{
    background:#A0DDE2;
    width: 218px;
height: 48px;
border-radius: 5px;
border: none;
font-weight: 600;
font-size: 16px;
margin-top: 1rem;
}
.download {
    padding: 2rem 4rem;
    margin: 0 auto 2rem;
    width:80%;
    max-height: 394px;
    background: #ECFEFE;
border-radius: 50px;
display: flex;
align-items: center;
overflow:hidden;
}
.download > div{
    width: 70%;    margin-top: 5rem;
}
.download div h4{
color: #07969e;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin:0;
font-family: "TomatoGroteskNormal";

}
.download img{
    margin-top: 8rem;
}
.download div h1{
    width: 65%;
    margin:0;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 38px;
letter-spacing: -0.05em;
text-align: left;
}
.download div p{
    color: #4a5050;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    width: 80%;
    margin: auto;
}