

.App {
    background-color: #ffffff;
  }
  .nav-hero{
      min-height: 660px;
      background-image: url("/public/hero-bg.svg");
      background-repeat: no-repeat;
      background-size: 75%;
    background-position-x: 50%;
    background-position-y: 130%;
  }
  .header{
    padding: 1rem 8rem 1rem 8rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav{
    display: flex;
}

.header nav p{
    margin-left: 2rem;
    color: #07969E;
        font-size: 16px;
line-height: 19px;
font-weight: 200;
cursor: pointer;
}
.active{
    font-weight: 800;
    font-family: "TomatoGroteskNormal";
}
.hero{
    display: flex;
    padding: 2rem 8rem 2rem 6rem;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.hero-text{
    width:500px;
    
}
.hero-text h1{
    color: #07969E;
    font-size: 56px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "TomatoGroteskNormal";


}
.hero-text p{
    font-size: 16px;
    margin: 1rem 0;
    font-family: "TomatoGroteskNormal";
    padding: 0;
    width: 75%;
    line-height: 24px;
    font-weight: 500;
}



.buttonGroup{
    display: flex;
    margin-top: 1.5rem;;
}
.buttonGroup button{
    font-family: "TomatoGroteskLight" !important;
    background-color: #2d2d2d;
    border: none;
    border-radius: 10px;
    padding: 8px 4px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    height: 48px;
    width:150px;
    justify-content: center;
    cursor: pointer;
}
.buttonGroup button span{
    font-size: 12px;
    text-align: left;
    margin-left: .5rem;
    font-weight: 200;

}
.buttonGroup button span b{
    font-size: 14px;
}
.sponsors{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2rem;
}
.plans{
    padding: 2rem 8rem 2rem 6rem;
    
}
.plan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin: auto;
    margin-top: -6rem;
}

.plan div{
    width: 40%;
}
.plan h2{
    color:#2d2d2d;
    font-size: 32px;
    margin: 0;
}
.plan p{
    font-size: 16px;
    color: #4a5050;
    width: 90%;
    line-height: 24px;
}
.plan a{
    text-decoration: none;
    color: #07969E;
}
.assets{
    padding: 2rem 8rem 2rem 8rem;
    /* width: 85%; */
    
}
.assets h1{
    text-align: center;
    color:#2d2d2d;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}
.assets p{
    font-size: 16px;
    color: #4a5050;
    line-height: 24px;
    text-align: center;    margin: 0;

}
.assets main {
    display: flex;
    justify-content: space-between;
margin-top: 2rem;
}
.assets main >div{
    width: 300px ;
    border: 2px solid rgba(145,159,181,.2);
    border-radius: 5px;
    min-height: 520px;
    position: relative;
    text-align: center;

}
.assets main > div a{
    text-decoration: none;
    color: #07969E;
    text-align: center;
}
.top{
    background-color: #fff4f0;
    border-radius: 16px;
    height: 213px;
}
.pur{
    background-color: #F6F2FF;
}
.blu{
    background-color: #ECFEFE;
}

.circle{
    background-color: white;
    padding: 15px;
    width: max-content;
    border-radius: 50%;
    position: absolute;
    top: 4rem;
    right: 31%;
}
.content
{
    margin-top: -5rem;
    z-index: 10;
    background-color: white;
    text-align: center;
    padding: 3rem .5rem;
    max-height: 250px;
    min-height: 250px;
}
.content h3{
    color: #4a5050;
    font-size: 24px;
    margin-bottom: 0.7rem;
}
.content p{
    color: #4a5050;
    font-size: 16px;
    margin-bottom: .5rem;

}
.content p span{
    color: #919fb5;
}
.noMargin{
    margin-bottom: 0!important;
}


